#page {
  width: 100%;
  height: 100%;
  overflow: visible;
}

#Rightbar2 {
  height: 106.4%;
  width: auto;
  background-color: rgb(84, 97, 84);
  margin: 10px 10px 10px 0; 
  overflow: auto; 
  scrollbar-width: thin;
  scrollbar-color: rgb(84, 97, 84) rgb(238, 238, 238); 
}

#Rightbar2 p {
  padding: 10px;
  color: rgb(207, 207, 207);
}

#Rightbar2 a{
    color: rgb(209, 186, 144);
    font-size: 20pt;
}

#inline{
    font-size: 16pt !important;
}


#Rightbar2 ul{
    list-style-type: square;
    color: rgb(207, 207, 207);
    font-size: 20pt;
}

#Rightbar2 h6{
    color: rgb(207, 207, 207);
    font-size: 18pt;
    margin: 0px;
    margin-top: 5px;
}



#leftbar2 {
  height: 100%;
  width: 33%;
  background-color: rgb(41, 55, 82);
  padding: 30px; 
  margin-right: 10px;
  outline: 20px; 
  color: rgb(15, 26, 36);
  float: left;
  margin-bottom: 10px;
  overflow: hidden;
}

#LPicA {
  width: 95%;
  margin: 2%;
  height: auto;
}

main
{
  padding-bottom: 110px !important;
}





